
@{
    ViewBag.Title = "Jessica Shop";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Hello! We happy to see you in our shop. Have a nice day :) </h1>
<br />
<br />
<br />
<br />
<h1 style="text-align:center;">Best regards, Jessica shop! </h1>
<div style="text-align:center;"><img alt="Logo" src="~/Content/Images/JessicaLogo.png" /></div>
