#Title {
    color: deeppink;
}

#header {
    background: #6EBEE8;
}

#SignIn, #Register, #SignOff {
    border: 1px solid #000000;
}

#sidebar {
    border: 1px solid #333;
}

#content {
    font-size: 18px;
    border: 1px solid #333;
}

#container-content {
    padding: 1%;
}

#userLayout {
    padding-bottom: 10px;
}

#footer {
    background: #333;
    color: #fff;
}
