
@{
    ViewData["Title"] = "Beverage";
    Layout = "~/Views/_Layout.cshtml";
}
<style>

    #ProductName {
        text-align: center;
        padding: 15px;
    }

    #ProductDescription {
        text-align: justify;
        padding: 15px;
    }
</style>

<script type="text/javascript">

    var currentUrl = window.location.href;

    var BeverageIdVal=ParseIdFromUrl(currentUrl);

    setTimeout(ShowBeverage, 1);

    function ShowBeverage() {
        $.getJSON({
            type: 'GET',
            dataType: 'json',
            contentType: 'application/JSON',
            url: '/api/Product/BeverageJsonResult/' + BeverageIdVal,
            success: function (data) {

                var ProductNameResult = $("#ProductName");

                var ProductQuantityResult = $("#QuantityPerUnit");

                var ProductUnitPrice = $("#UnitPrice");

                var beverageObject = jQuery.parseJSON(data);

                ProductNameResult.append("<p>" + beverageObject[0].ProductName + "</p>");
                ProductQuantityResult.append("<p>" + beverageObject[0].QuantityPerUnit + "</p>");
                ProductUnitPrice.append("<p>" + beverageObject[0].UnitPrice + "</p>");
               
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }

        });
    }

    function ParseIdFromUrl(CurrentUrl) {

        var GetIndexBeforeId = CurrentUrl.indexOf("ge/");

        for (var i = 0; i < 3; i++) {
            GetIndexBeforeId++;
        }

        var ProductId = CurrentUrl.slice(GetIndexBeforeId, 200);

        return ProductId;
    }

</script>

<div id="Beverage">
    <div id="ProductName"></div>
    <div id="ImageCategory"></div>
    <div id="ProductDescription">
        <div id="QuantityPerUnit">QuantityPerUnit: </div>
        <div id="UnitPrice">UnitPrice: </div>
    </div>
</div>

<input class="open_window" type="button" value="Buy" />
