
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/js/CustomJS/CartJSON.js" type="text/javascript"></script>

<form method="get" action="/api/Product/BuyProduct">
    <div id="ProductList">

    </div>

    <input type="submit" value="Buy" />

</form>
