@{
    ViewData["Title"] = "Confections";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/js/Pagination.js" type="text/javascript"></script>
<script  type="text/javascript">
    
    setTimeout(ShowConfections, 1);

    function ShowConfections() {

        $.getJSON({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/JSON',
            url: '/api/Product/ConfectionsJsonResult',
            success: function (data) {

                var results = $("#ConfectionsList");

                var confectionsObject = jQuery.parseJSON(data);

                for (var i = 0; i < data.length; i++) {

                    var firststr = '<li><a href' + '=' + "'" + "/api/Product/Confection/"+  confectionsObject[i].ProductId + "'"+ '>';

                    results.append(firststr + confectionsObject[i].ProductName + '</a></li>');
                }                              
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

    }
    
</script>

<ul type="square" id="ConfectionsList">

</ul>





